@import 'variables';

.footer{
    background: $hero;
    display: block;
    
    
     a{
        color: $link; 
        font-size: $font-med;
        font-weight: 300;   
    }
    li{
        list-style: none;
    }
    &__social{
        margin: 0 ;
        text-align: center;
        padding: 1em;
    }
    &__copyright{
        text-align: center;
        padding-bottom: 1em;
        font-size: $font-lg;
        font-weight: 300;
        color:  $lightGrayishBlue;
    }
    .social__list{
        display: flex;
        justify-content: center;
        margin: 1em;
        font-size: $font-lg;

        li:not(:last-child){
          margin-right: 1em;  
        }
        i{
            font-size: $font-lg;
        }
    }
}