@import 'variables';

.footer{
    background: $hero;
    display: block;
    font-size: $font-lg;
    font-weight: 300;
    
     a{
        color: #e9f7fe;    
    }
    li{
        list-style: none;
    }
    &__social{
        margin: 1em ;
        text-align: center;
    }
    &__copyright{
        text-align: center;
        margin-bottom: 1em;
    }
   
}