
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import "mixins";
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  
  /*font weight */
  --fw-reg: 300;
  --fw-bold: 700;

  /*font- family*/
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary:'Nanum Gothic Coding', monospace;

// Colors
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

// Font Sizes
    --font-sm: 0.875rem; // 14px
    --font-med: 1.125rem; // 18px
    --font-lg: 1.25rem;
    --font-xlg: 3.25rem;


}

body {
  position: relative;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--font-sm);
  font-weight: var(--fw-reg);
  line-height: 1.4;
  background: var(--veryLightGray);

  
  @include breakpoint-up(large){
    font-size: var(--font-med);
    
  }

  &.noscroll{
    overflow: hidden;
  }

}
section{
    margin-bottom: 2em;
    min-height: 100vh;
    width: 100%;
}

a, a:visited, a:hover{
  text-decoration: none;
}

img{
  display: block;
  object-fit: contain;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}
h1,h2,h3{
  line-height: 1.1;
}

h1{ 
  font-size: var(--font-lg);
  font-weight: var(--fw-bold);
}
h2{ 
  font-size: var(--font-med);
  font-weight: var(--fw-reg);
}


//flex box 
.flex{
  display: flex;
  flex-direction: row;

  &-jc-sb{
    justify-content: space-between;
  }
  &-jc-c{
    justify-content: center;
  }
  &-ai-c{
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large){
    display: none;
  }
}
