@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.projects{
    background: $project;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    position: relative;
    
    h2{
        font-size: $font-xlg;
        font-weight: 400;
    }
    h3{
        font-size: $font-lg;
        font-weight: 400;
    }
    & > div{
        margin: 2rem; 
    }
    &::before , &::after{
        content: '';
        display: block;
        position: absolute;
        height: 40vh;
        width: 40vw;

    }
    &::before{
        background: linear-gradient( to left bottom, $limeGreen,$brightCyan);
        clip-path: circle(60% at right 100%);
        right: 0;
        bottom: 0;
    }
    &::after{
        background: linear-gradient(to left bottom, $brightCyan, $limeGreen);
        clip-path: circle(70% at left 70%);
        top: 0;
        left: 0;
    }
    .project{
        background: rgba(255,255,255,0.5 );
        border: 1px solid $white;
        box-shadow: 1px 2px rgba(255,255,255,0.5);
        border-radius: 3%;
        padding: .5rem;
        z-index: 2;
        position: relative;
        transform-style: preserve-3d;
        backdrop-filter: blur(25px);
        width: 18.75rem;
        height: 33rem;
        margin: .5em;
        color: #333;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
        img{
          height: 299px; 
          opacity: .5; 
          &:hover{
              opacity: 1;
          }
        }
        p{
            font-size: $font-med;
            font-weight: 300;
            text-align: left;
            padding: .5em;

        }
        div{
            padding: .4em;
            display: flex;
            flex-direction: column;
        }
        &__link{
            a{
                color: $darkBlue;

                &:hover{
                    color: $brightCyan;
                }
                &:not(:last-child){
                    margin-right: .5em;
                }
            }
        }
        &__title{
            margin-bottom: .5em;
            
        }
    }
    .card{
        display: flex;
        flex-direction: row;
        justify-content:center;
        margin: auto;
        flex-wrap: wrap;
    }
}
